<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Transom_AWSFraudDetector::config" title="AWS Fraud Detector" module="Transom_AWSFraudDetector" parent="Magento_Sales::fraud_protection" sortOrder="10" />
    </menu>
</config>
