<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="fraud_protection">
            <group id="transom_aws" type="text" sortOrder="05" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Transom - Amazon Fraud Protection</label>
                <group id="api_config" translate="label comment" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>API Configuration</label>
                    <field id="api_enabled" translate="label" sortOrder="10" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enabled</label>
                        <config_path>fraud_protection/transom_aws_fraud_detector/api_enabled</config_path>
                        <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                        <comment><![CDATA[Enable or disable the Transom AWS Fraud Detector API inetgration.]]></comment>
                    </field>

                    <field id="aws_region" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Region</label>
                        <config_path>fraud_protection/transom_aws_fraud_detector/api_aws_region</config_path>
                        <validate>required-entry</validate>
                        <comment><![CDATA[AWS Fraud Detector region.]]></comment>
                        <depends>
                            <field id="api_enabled">1</field>
                        </depends>
                    </field>

                    <field id="decision_id" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Decision Id</label>
                        <config_path>fraud_protection/transom_aws_fraud_detector/decision_id</config_path>
                        <validate>required-entry</validate>
                        <comment><![CDATA[Decision id.]]></comment>
                        <depends>
                            <field id="api_enabled">1</field>
                        </depends>
                    </field>

                    <field id="score_name" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Score Name</label>
                        <config_path>fraud_protection/transom_aws_fraud_detector/score_name</config_path>
                        <validate>required-entry</validate>
                        <comment><![CDATA[Score name.]]></comment>
                        <depends>
                            <field id="api_enabled">1</field>
                        </depends>
                    </field>

                    <field id="api_access_keys_enabled" translate="label" sortOrder="50" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Manager Access Keys in Admin</label>
                        <config_path>fraud_protection/transom_aws_fraud_detector/api_access_keys_enabled</config_path>
                        <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                        <comment><![CDATA[Manage AWS Fraud Detector access keys in Magento admin.]]></comment>
                        <depends>
                            <field id="api_enabled">1</field>
                        </depends>
                    </field>

                    <field id="iam_key" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Key</label>
                        <config_path>fraud_protection/transom_aws_fraud_detector/api_iam_key</config_path>
                        <comment><![CDATA[AWS API access key]]></comment>
                        <depends>
                            <field id="api_enabled">1</field>
                            <field id="api_access_keys_enabled">1</field>
                        </depends>
                    </field>

                    <field id="iam_secret" translate="label" type="obscure" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Secret</label>
                        <config_path>fraud_protection/transom_aws_fraud_detector/api_iam_secret</config_path>
                        <comment><![CDATA[AWS API secret]]></comment>
                        <depends>
                            <field id="api_enabled">1</field>
                            <field id="api_access_keys_enabled">1</field>
                        </depends>
                    </field>
                </group>

                <!--
                <group id="resources_config" translate="label comment" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Resources</label>

                    <field id="variables" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Variables</label>
                        <frontend_model>Transom\AWSFraudDetector\Block\Adminhtml\Form\Field\AmazonVariables</frontend_model>
                        <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>

                    </field>

                </group>
                -->


                <group id="model_upload_config" translate="label comment" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Model Upload Configuration</label>

                    <field id="model_upload_enabled" translate="label" sortOrder="10" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enabled</label>
                        <config_path>fraud_protection/transom_aws_fraud_detector/model_upload_enabled</config_path>
                        <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    </field>
                </group>

            </group>
        </section>
    </system>
</config>


<!--

  https://devdocs.magento.com/guides/v2.4/ext-best-practices/tutorials/dynamic-row-system-config.html

  https://www.atwix.com/magento-2/dynamic-fields-in-system-configuration/

-->

