<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fraud_protection>
            <transom_aws_fraud_detector>
                <api_enabled>1</api_enabled>
                <api_aws_region>us-east-1</api_aws_region>
                <api_iam_key/>
                <api_iam_secret/>
                <detector_id/>
                <score_name/>
                <model_upload_enabled>1</model_upload_enabled>
            </transom_aws_fraud_detector>
        </fraud_protection>
    </default>
</config>
